<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1" targetFramework="net472" />
</packages>


if (guerrera.hp > 0) {
console.log(guerrera.nombre + " la guerrera ha sido herida ha recibido daños")

}
else {
dragon.exp = dragon.exp + guerrera.exp;
console.log(guerrera.nombre + " la guerrera ha sido herida ha sido derrotada ahora " + dragon.nombre + " tiene " + dragon.exp + " de experiencia")
}

if (cazadora.hp > 0) {
console.log(cazadora.nombre + " la guerrera ha sido herida ha recibido daños")

}
else {
dragon.exp = dragon.exp + cazadora.expe;
console.log(cazadora.nombre + " la cazadora ha sido herida ha sido derrotada ahora " + dragon.nombre + " tiene " + dragon.exp + " de experiencia")
}